<%# default partial to display solr document fields in catalog index view -%>

<dl class="dl-horizontal dl-invert" style="float:left;">
  
    <% index_fields.each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document => document, :field => solr_fname%></dd>
    <% end -%>
  <% end -%>

</dl>
<div class="yale_thumbnail">

<%= if (!(@url1.nil?) && !(document[:id].to_s.eql? '')) then (if document[:active_fedora_model_ssi].to_s.eql? '["ComplexParent"]' then (if (!(@oid_pointer.nil?) && (!(document[:ztotal_isi].nil?))) then link_to image_tag(@url1 + @pid + @url2 , :height => '170', :width => '100'), @bookreader + document[:oid_isi].to_s  + "#page/1/mode/1up" end) else image_tag @url1 +  document[:id].to_s + @url2, :height => '170', :width => '100' end) end %>
</div>
<div style="clear:both;"></div>
