<div class="well" id="sidebar-nav">
  <%= render :partial => 'show_tools' %>
</div><!--/well -->

<% my_document = @document %>

<%= if my_document[:active_fedora_model_ssim].to_s.eql? '["ComplexParent"]' then render :partial => 'show_complex_object', :locals => {:document => @document} else render :partial => 'show_simple_object' , :locals => {:document => @document} end %>

<% if @is_contact_info == 'true' %>
<div id="contactInfo">
<b><%= "For more information about this resource, contact:" %></b><br/>
<p class="address">

<% if @location.present? %>
<%= @location %><br/>
<% end %>

<% if @line1.present? %>
<%= @line1%><br/>
<% end %>

<% if @line2.present? %>
<%= @line2 %> <br/>
<% end %>

<% if (@city.present? && @state.present? && @zip.present?) %>
<%= @city + ", " + @state + " " + @zip %> <br/>
<% end %>

<% if @phone.present? %>
<%= @phone %><br/>
<% end %>

<% if @contact_email.present? %>
<%= @contact_email %><br/>
<% end %>

<% if @contact_url.present? %>
<%= @contact_url %><br/>
<% end %>

</p>
</div>
<% end %>

<% unless @document.more_like_this.empty? %>
<div class="well" id="sidebar-mlt">
  <ul class="nav nav-list">
  <li class="nav-header">More Like This</li>
    <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
  </ul>
</div><!--/well -->
<% end %>
